body {
    /* The universe takes up all available space */
     background: url(http://38.media.tumblr.com/2512705dc05382dfdfec0e428647bf05/tumblr_mscwj8XKz01qbn5m1o1_1280.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
}

/*Clips the picture into a perfect circle*/
.clipPolygon{
    -webkit-clip-path: circle(25px at 35px 35px);
    -moz-clip-path: circle(25px at 35px 35px);
    -ms-clip-path: circle(25px at 35px 35px);
    -o-clip-path: circle(25px at 35px 35px);
    clip-path: circle(25px at 35px 35px);
}

/*Positions the planets around the sun*/
.planet{
    position: absolute;
    top: 0;
    left: 50%;
    
    margin-left: -25px;
    margin-top: -25px;
}

/*Position of the orbit*/
.orbit{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 300px;
    margin-top: -175px;
    margin-left: -180px;

    border-radius: 50%; 
}

/*Positions the rocket to lower left side*/
.rocket-ship{
    position: absolute;
    background: green;
    bottom: 10px;
    left: 20px;
}

/*Initial state of the rocket*/
#rocket{
    position: absolute;

    bottom: 30px;
    height: 75px;
    width: 50px;
    
    -webkit-transition: 3s ease-in-out;
    -moz-transition: 3s ease-in-out;
    -o-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
}

/*Flying animation when mouse hovers*/
#rocket:hover {
    -webkit-animation: rocket-fly 20s;
    -moz-animation: rocket-fly 20s;
    -ms-animation: rocket-fly 20s;
    -o-animation: rocket-fly 20s;
    animation: rocket-fly 20s;   
    
}

#sun-ember{
    position:absolute;
    height: 50px;
    width: 50px;
    
    top: 50%;
    left: 50%;
    margin-top: -50px; 
    margin-left: -50px;
    
    background-color: #8B0000;
    border-radius: 50%;
    box-shadow: 0 0 100px 35px orange;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    height: 75px;
    width: 75px;
    margin-top: -34.5px; 
    margin-left: -35px;    
    
    -webkit-animation: star 3s infinite;
    -moz-animation: star 3s infinite;
    -ms-animation: star 3s infinite;
    -o-animation: star 3s infinite;
    animation: star 3s infinite;
}

#earth {
    height: 50px;
    width: 50px;
    
    border: 2px solid green;
    border-radius: 50%;
    box-shadow: 0 0 50px green;
}

#saturn {

    height: 50px;
    width: 70px;

}

#jupiter {

    height: 50px;
    width: 50px;
    
}

#moon{
    position: absolute;
    top: 300;
    left: 75%;
    height: 75px;
    width: 68px;
}

#earth-orbit {
    -webkit-animation: spin-right 10s linear infinite;
    -moz-animation: spin-right 10s linear infinite;
    -ms-animation: spin-right 10s linear infinite;
    -o-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}

#saturn-orbit{
    -webkit-animation: spin-right 30s linear infinite;
    -moz-animation: spin-right 30s linear infinite;
    -ms-animation: spin-right 30s linear infinite;
    -o-animation: spin-right 30s linear infinite;
    animation: spin-right 30s linear infinite;
}

#jupiter-orbit {
    -webkit-animation: spin-left 10s linear infinite;
    -moz-animation: spin-left 10s linear infinite;
    -ms-animation: spin-left 10s linear infinite;
    -o-animation: spin-left 10s linear infinite;
    animation: spin-left 10s linear infinite;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
       -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
         -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
       -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
         -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

/*Rotate to the right then move*/
@-webkit-keyframes rocket-fly{
    0%{
        -webkit-transform: rotate(70deg);
        -moz-transform: rotate(70deg);
        -o-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
        transform: rotate(70deg);
    }
    50%{
        -webkit-transform: translate(540px,-100px);
        -moz-transform: translate(540px,-100px);
        -o-transform: translate(540px,-100px);
        -ms-transform: translate(540px,-100px);
        transform: translate(540px,-100px);    
    }
}

@keyframes rocket-fly{
    0%{
        -webkit-transform: rotate(70deg);
        -moz-transform: rotate(70deg);
        -o-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
        transform: rotate(70deg);
    }
    50%{
        -webkit-transform: translate(540px,-100px);
        -moz-transform: translate(540px,-100px);
        -o-transform: translate(540px,-100px);
        -ms-transform: translate(540px,-100px);
        transform: translate(540px,-100px);    
    }
}

/*Animation of star and circle*/
@-webkit-keyframes star{
    0% {
        -webkit-clip-path: circle(25px at 35px 35px);
        -moz-clip-path: circle(25px at 35px 35px);
        -ms-clip-path: circle(25px at 35px 35px);
        -o-clip-path: circle(25px at 35px 35px);
        clip-path: circle(25px at 35px 35px);
    }
    5% {
        -webkit-clip-path:polygon(29px 27px, 36px 2px, 44px 27px, 67px 27px, 49px 42px, 55px 67px, 36px 53px, 17px 67px, 23px 42px, 5px 27px);
        -moz-clip-path:polygon(29px 27px, 36px 2px, 44px 27px, 67px 27px, 49px 42px, 55px 67px, 36px 53px, 17px 67px, 23px 42px, 5px 27px);
        -ms-clip-path:polygon(29px 27px, 36px 2px, 44px 27px, 67px 27px, 49px 42px, 55px 67px, 36px 53px, 17px 67px, 23px 42px, 5px 27px);
        -o-clip-path:polygon(29px 27px, 36px 2px, 44px 27px, 67px 27px, 49px 42px, 55px 67px, 36px 53px, 17px 67px, 23px 42px, 5px 27px);
        clip-path:polygon(29px 27px, 36px 2px, 44px 27px, 67px 27px, 49px 42px, 55px 67px, 36px 53px, 17px 67px, 23px 42px, 5px 27px);
    }
    100% {
        -webkit-clip-path: circle(25px at 35px 35px);
        -moz-clip-path: circle(25px at 35px 35px);
        -ms-clip-path: circle(25px at 35px 35px);
        -o-clip-path: circle(25px at 35px 35px);
        clip-path: circle(25px at 35px 35px);
    }
}

@keyframes star{
    0% {
        -webkit-clip-path: circle(25px at 35px 35px);
        -moz-clip-path: circle(25px at 35px 35px);
        -ms-clip-path: circle(25px at 35px 35px);
        -o-clip-path: circle(25px at 35px 35px);
        clip-path: circle(25px at 35px 35px);
    }
    5% {
        -webkit-clip-path:polygon(29px 27px, 36px 2px, 44px 27px, 67px 27px, 49px 42px, 55px 67px, 36px 53px, 17px 67px, 23px 42px, 5px 27px);
        -moz-clip-path:polygon(29px 27px, 36px 2px, 44px 27px, 67px 27px, 49px 42px, 55px 67px, 36px 53px, 17px 67px, 23px 42px, 5px 27px);
        -ms-clip-path:polygon(29px 27px, 36px 2px, 44px 27px, 67px 27px, 49px 42px, 55px 67px, 36px 53px, 17px 67px, 23px 42px, 5px 27px);
        -o-clip-path:polygon(29px 27px, 36px 2px, 44px 27px, 67px 27px, 49px 42px, 55px 67px, 36px 53px, 17px 67px, 23px 42px, 5px 27px);
        clip-path:polygon(29px 27px, 36px 2px, 44px 27px, 67px 27px, 49px 42px, 55px 67px, 36px 53px, 17px 67px, 23px 42px, 5px 27px);
    }
    100% {
        -webkit-clip-path: circle(25px at 35px 35px);
        -moz-clip-path: circle(25px at 35px 35px);
        -ms-clip-path: circle(25px at 35px 35px);
        -o-clip-path: circle(25px at 35px 35px);
        clip-path: circle(25px at 35px 35px);
    }
}
